<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Josh Nguyen">
    <meta name="keywords" content="Web Developer, Full Stack Developer, Font End Developer, Back End Developer, Software Engineer, HTML, CSS, Javascript, React, Nodejs, Express, Python, Django">
    <meta name="description" content="Full-Stack Web Developer - Josh Nguyen's personal portfolio website where you can find Josh's information, background, skills, resume, Josh's projects, and more. This website was built from scratch using HTML, CSS, SASS, Javascript, jQuery, Node.js, Express, Google Cloud, etc.">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Josh Nguyen - Full-Stack Web developer">
    <meta property="og:description" content="View Josh's personal portfolio website where you can find Josh's information, background, skills, resume, Josh's projects, and more.">
    <meta property="og:image" content="https://joshnguyentoronto.com/images/profile_camp_3.png">
    <meta property="og:url" content="https://joshnguyentoronto.com/">
    <meta property="og:locale" content="en_CA">
    <meta property="og:site_name" content="joshnguyentoronto.com">
    <meta property="og:image:width" content="600">
    <meta property="og:image:height" content="479">
    <meta property="og:image:type" content="image/png">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@Josh_Nguyen_TO">
    <meta name="twitter:title" content="Josh Nguyen - Full-Stack Web developer">
    <meta name="twitter:description" content="View Josh's personal portfolio website where you can find Josh's information, background, skills, resume, Josh's projects, and more.">
    <meta name="twitter:image" content="https://joshnguyentoronto.com/images/profile_camp_3.png">
    <meta name="twitter:url" content="https://joshnguyentoronto.com/">
    <title>Josh Nguyen - Full-Stack Web developer</title>
    <link rel="canonical" href="https://joshnguyentoronto.com/">
    <link rel="icon" href="../images/JOSH.png">
    <link rel="stylesheet" href="../stylesheets/main.css">
    <script defer src="../javascripts/form.js"></script>
    <script defer src="../javascripts/button.js"></script>
    <script defer src="../javascripts/scroll.js"></script>
    <script defer>
        function changeBlue(e) {
            e.src = "../images/helmet_blue.png";
        }
        function changeWhite(e) {
            e.src = "../images/helmet_white.png";
        }
    </script>
</head>


<body>
    <header>
        <div class="header">
            <div class="header-icon">
                <a href="/" class="header-icon">Josh Nguyen</a>
            </div>
            <div class="header-nav">
                <a class="header-link" href="/">HOME</a>
                <a class="header-link header-project" href="/project">Project</a>
                <a class="header-link" id="contact-btn">Contact</a>
                <!-- <a class="header-svg" target="_blank" href="https://www.linkedin.com/in/joshnguyentoronto/"><svg viewBox="0 0 24 24"><path d="M19 0h-14c-2.761 0-5 2.239-5 5v14c0 2.761 2.239 5 5 5h14c2.762 0 5-2.239 5-5v-14c0-2.761-2.238-5-5-5zm-11 19h-3v-11h3v11zm-1.5-12.268c-.966 0-1.75-.79-1.75-1.764s.784-1.764 1.75-1.764 1.75.79 1.75 1.764-.783 1.764-1.75 1.764zm13.5 12.268h-3v-5.604c0-3.368-4-3.113-4 0v5.604h-3v-11h3v1.765c1.396-2.586 7-2.777 7 2.476v6.759z"/></svg></a> -->
                <!-- <a class="header-svg" target="_blank" href="https://github.com/joshnguyentoronto"><svg viewBox="0 0 24 24"><path d="M19 0h-14c-2.761 0-5 2.239-5 5v14c0 2.761 2.239 5 5 5h14c2.762 0 5-2.239 5-5v-14c0-2.761-2.238-5-5-5zm-4.466 19.59c-.405.078-.534-.171-.534-.384v-2.195c0-.747-.262-1.233-.55-1.481 1.782-.198 3.654-.875 3.654-3.947 0-.874-.312-1.588-.823-2.147.082-.202.356-1.016-.079-2.117 0 0-.671-.215-2.198.82-.64-.18-1.324-.267-2.004-.271-.68.003-1.364.091-2.003.269-1.528-1.035-2.2-.82-2.2-.82-.434 1.102-.16 1.915-.077 2.118-.512.56-.824 1.273-.824 2.147 0 3.064 1.867 3.751 3.645 3.954-.229.2-.436.552-.508 1.07-.457.204-1.614.557-2.328-.666 0 0-.423-.768-1.227-.825 0 0-.78-.01-.055.487 0 0 .525.246.889 1.17 0 0 .463 1.428 2.688.944v1.489c0 .211-.129.459-.528.385-3.18-1.057-5.472-4.056-5.472-7.59 0-4.419 3.582-8 8-8s8 3.581 8 8c0 3.533-2.289 6.531-5.466 7.59z"/></svg></a> -->
            </div>
        </div>
    </header>

