@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
  font-family: 'Roboto', arial;
  background-color: #181818;
  color: white;
}

a {
  color: white;
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

button {
  background-color: white;
}

p {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
}

.about-style {
  display: none;
}

header {
  width: 100%;
  height: 4em;
  background-color: #181818;
  border-bottom: 1px solid #383838;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  overflow: hidden;
  position: fixed;
  top: 0;
}

header .header {
  width: 95%;
  max-width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header .header-icon a {
  font-weight: bold;
  font-size: 1.4em;
}

header .header .header-nav {
  width: 35%;
  min-width: 260px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header .header-nav .header-svg svg {
  width: 30px;
  -webkit-filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
          filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
}

header .header .header-nav a {
  font-size: 1em;
  padding: 0.35em 1.2em;
}

header .header .header-nav .header-focus {
  background-color: #383838;
  border-radius: 5px;
}

header .header .header-nav a:hover {
  background-color: #383838;
  border-radius: 5px;
}

section {
  margin-top: 63px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section .section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 95%;
  max-width: 1200px;
}

section .section div {
  -ms-grid-column-align: center;
      justify-self: center;
  font-size: 1em;
  line-height: 1.8em;
}

section .section div h1 {
  font-size: 34px;
}

.policy, .term {
  padding: 1em;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-flow: column-reverse;
          flex-flow: column-reverse;
  padding: 1em;
}

.about .about-image {
  width: 100%;
  text-align: center;
}

.about .about-image img {
  width: 150px;
  border-radius: 50%;
  margin: 1em;
}

.about h2 {
  font-size: 16px;
  font-weight: 600;
  color: #dcdbdb;
  margin: 0;
}

.about h1 {
  margin: 0;
}

.about div {
  margin: 20px 0 0 0;
}

.about div p {
  color: #cecece;
}

.about .about-inspired {
  font-size: 18px;
  margin-top: 10px;
  font-weight: bold;
  color: white;
}

.tech {
  padding: 1em;
}

.tech div {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 1em;
}

.tech div p svg {
  width: 40px;
  height: 40px;
  -ms-grid-column-align: left;
      justify-self: left;
}

.info {
  padding: 1em;
  margin-top: 2em;
}

.info .info-main {
  justify-self: flex-start;
  max-width: 550px;
}

.info .info-education {
  justify-self: flex-start;
  max-width: 430px;
}

.info .info-education span {
  font-size: 22px;
  font-weight: 600;
  color: white;
}

.info .info-education p {
  color: #bdbdbd;
}

.offer {
  padding: 1em;
}

.offer-container ul li {
  padding: 2em 2em;
  margin: 1em 0;
  max-width: 400px;
}

.offer-container ul li .icon-container {
  height: 70px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 70px;
      grid-template-columns: auto 70px;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  margin: 0 0 20px 0;
}

.offer-container ul li .offer-title {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-weight: bold;
  font-size: 24px;
}

.offer-container ul .offer-li {
  border: 1px solid #383838;
  border-radius: 10px;
}

.process {
  padding: 1em;
}

.process-container ul li {
  padding: 2em 2em;
  margin: 1em 0;
  max-width: 400px;
}

.process-container ul li .icon-container {
  height: 70px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 70px;
      grid-template-columns: auto 70px;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  margin: 0 0 20px 0;
}

.process-container ul li .process-title {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-weight: bold;
  font-size: 24px;
}

.process-container ul .process-li {
  border: 1px solid #383838;
  border-radius: 10px;
}

.goal {
  padding: 1em;
}

.goal div {
  padding: 1em 1em;
}

.goal div p {
  margin: 1em -1em;
  font-size: 18px;
  font-weight: 600;
}

.goal div ul li {
  text-align: left;
  list-style-type: '-  ';
  font-size: 16px;
}

.current-work-image img {
  width: 150px;
  border-radius: 50%;
}

.current-work-text ul li {
  text-align: left;
  margin: 1em 0;
  color: #acacac;
}

.current-work-text ul li span {
  font-size: 20px;
  color: white;
}

.feature {
  margin: 1em;
  padding: 1em;
  border: 1px solid #383838;
  border-radius: 10px;
}

.feature h1 {
  margin: -0.8em 0 1em 0.5em;
  padding: 0 0 0 10px;
  background-color: #181818;
  width: 270px;
}

.feature .feature-line .feature-container ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-gap: 10px;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.feature .feature-line .feature-container ul li {
  padding: 0;
  margin: 0 0 1em 0;
  height: 350px;
  width: 279px;
  border-radius: 16px;
}

.feature .feature-line .feature-container ul li .feature-outer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.179);
  border-radius: 15px;
}

.feature .feature-line .feature-container ul li .feature-outer .feature-inner {
  -ms-flex-item-align: end;
      align-self: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: auto;
  width: 100%;
  text-align: center;
  line-height: 25px;
  background-color: rgba(0, 0, 0, 0.816);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.feature .feature-line .feature-container ul li .feature-outer .feature-inner .feature-title {
  font-size: 20px;
  margin: 10px 0 10px 0;
}

.feature .feature-line .feature-container ul li .feature-outer .feature-inner .feature-desc {
  display: none;
  font-size: 13px;
}

.feature .feature-line .feature-container ul li a:hover {
  color: white;
}

.feature .feature-line .feature-container ul li a:hover .feature-outer .feature-desc {
  display: unset;
}

.feature .feature-line .feature-container ul .speedtyper {
  background-image: url("../images/speedtyper.png");
}

.feature .feature-line .feature-container ul .portfolio {
  background-image: url("../images/portfolio.png");
}

.feature .feature-line .feature-container ul .checker {
  background-image: url("../images/checker.png");
}

.contact {
  padding: 1em;
  margin: 0 0 2em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact .contact-text {
  text-align: left;
}

.contact .contact-text a {
  color: #3399ff;
}

.contact .contact-text a svg {
  -webkit-filter: invert(67%) sepia(55%) saturate(6139%) hue-rotate(192deg) brightness(102%) contrast(105%);
          filter: invert(67%) sepia(55%) saturate(6139%) hue-rotate(192deg) brightness(102%) contrast(105%);
}

.contact .contact-text a:hover {
  text-decoration: underline;
}

.contact .contact-text .contact-media {
  height: 25px;
  width: 170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact .contact-text .contact-media .contact-media-each a svg, .contact .contact-text .contact-media .contact-media-each img {
  width: 25px;
}

.contact .contact-text .contact-media .contact-media-each a {
  color: #3399ff;
}

.contact .contact-text .contact-media .contact-media-each svg {
  -webkit-filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
          filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
}

.contact .contact-text .contact-media .contact-media-each a:hover {
  text-decoration: underline;
}

.contact .contact-text .contact-media .contact-media-each a:hover svg {
  -webkit-filter: invert(67%) sepia(55%) saturate(6139%) hue-rotate(192deg) brightness(102%) contrast(105%);
          filter: invert(67%) sepia(55%) saturate(6139%) hue-rotate(192deg) brightness(102%) contrast(105%);
}

.contact .contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1em;
  margin: 1em 0;
}

footer {
  position: relative;
  background-color: black;
  text-align: center;
  height: 70px;
}

footer .footer-link a {
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0;
}

footer .footer-link p {
  display: none;
}

footer .footer-term {
  margin: 10px;
}

footer .footer-icon {
  display: none;
}

.showcase {
  padding: 2em;
  text-align: center;
}

.showcase h1 {
  margin-top: 0;
  font-size: 40px;
}

.showcase .showcase-container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.showcase .showcase-container ul li {
  padding: 0;
  margin: 2.5em 1em;
  height: 350px;
  width: 279px;
  border-radius: 16px;
}

.showcase .showcase-container ul li .showcase-outer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.179);
  border-radius: 15px;
}

.showcase .showcase-container ul li .showcase-outer .showcase-inner {
  -ms-flex-item-align: end;
      align-self: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-height: 130px;
  width: 100%;
  text-align: center;
  line-height: 25px;
  background-color: rgba(0, 0, 0, 0.816);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.showcase .showcase-container ul li .showcase-outer .showcase-inner .showcase-title {
  font-size: 24px;
  margin: 10px 0 10px 0;
}

.showcase .showcase-container ul li .showcase-outer .showcase-inner .showcase-desc {
  display: none;
}

.showcase .showcase-container ul li a:hover {
  color: white;
}

.showcase .showcase-container ul li a:hover .showcase-outer:hover .showcase-desc {
  display: unset;
}

.showcase .showcase-container ul .showcase-speedtyper {
  background-image: url("../images/speedtyper.png");
}

.showcase .showcase-container ul .showcase-portfolio {
  background-image: url("../images/portfolio.png");
}

.showcase .showcase-container ul .showcase-checker {
  background-image: url("../images/checker.png");
}

.detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.detail .detail-heading {
  margin-bottom: 2em;
}

.detail .detail-heading h1 {
  font-size: 30px;
  margin-top: 0;
}

.detail .detail-heading a {
  font-size: 26px;
}

.detail .detail-heading span {
  font-size: 26px;
  width: 10px;
}

.detail .detail-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  text-align: left;
  font-size: 0.9em;
  line-height: 1.5em;
}

.detail .detail-body .detail-separate {
  display: none;
}

.detail .detail-body .detail-info ul {
  list-style-type: disc;
}

.detail .detail-body .detail-info ul li {
  margin-left: 18px;
}

.detail .detail-body .detail-info ol li h1 {
  font-size: 18px;
}

.background {
  text-align: left;
}

.background .background-image {
  width: 100%;
  text-align: center;
}

.background .background-image img {
  width: 150px;
  border-radius: 50%;
  margin: 1em;
}

.background .background-education h3 {
  margin-bottom: 0;
}

.background .background-education p {
  color: #acacac;
}

@media only screen and (min-width: 550px) {
  header .header {
    width: 80%;
  }
  header .header .header-icon a {
    font-size: 1.8em;
  }
  section .section {
    width: 80%;
  }
  .about {
    padding: 0;
  }
  .tech {
    padding: 2em 0 0 0;
    margin: 2em 0;
  }
  .info {
    padding: 0;
    margin-top: 4em;
  }
  .offer {
    padding: 0;
    margin: 2em 0;
  }
  .offer-container ul li {
    margin: 2em 0;
  }
  .offer-container ul li .offer-title {
    font-size: 28px;
  }
  .process {
    padding: 0;
  }
  .goal {
    padding: 0;
    margin: 2em 0;
  }
  .feature {
    padding: 2em 0;
    margin: 2em 0;
    border-radius: 15px;
  }
  .feature h1 {
    margin: -1.5em 0 1em 1em;
  }
  .contact {
    padding: 0;
  }
  .policy, .term {
    padding: 3em 0;
    width: 70%;
    max-width: 1200px;
  }
}

@media only screen and (min-width: 700px) {
  .offer {
    margin: 4em 0;
  }
  .offer-container ul {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    grid-gap: 10px;
  }
  .offer-container ul li {
    -ms-grid-column-align: center;
        justify-self: center;
    max-width: 300px;
    margin: 1em 0;
    padding: 1em;
  }
  .offer-container ul li .offer-title {
    font-size: 22px;
  }
  .process-container ul {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    grid-gap: 10px;
  }
  .process-container ul li {
    -ms-grid-column-align: center;
        justify-self: center;
    max-width: 300px;
    margin: 1em 0;
    padding: 1em;
  }
  .process-container ul li .process-title {
    font-size: 22px;
  }
  .feature {
    margin: 4em 0;
  }
}

@media only screen and (min-width: 750px) {
  header .header {
    width: 70%;
  }
  header .header .header-nav {
    width: 40%;
  }
  header .header .header-nav a {
    font-size: 1.2em;
    padding: 0.4em 1.2em;
  }
  section .section {
    width: 70%;
  }
  .about .about-image img {
    width: 200px;
  }
  .tech h1 {
    margin-bottom: 1.5em;
  }
  .tech div {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    grid-gap: 1em;
  }
  .current-work-image img {
    width: 250px;
  }
  .showcase .showcase-container ul {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
    justify-items: center;
  }
  .showcase .showcase-container ul li {
    padding: 0 0;
    margin: 1em 0;
  }
  .showcase .showcase-container ul li .showcase-outer .showcase-inner .showcase-title {
    font-size: 24px;
  }
  .showcase .showcase-container ul li .showcase-outer .showcase-inner .showcase-desc {
    font-size: 15px;
  }
  .contact {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .contact .contact-text {
    width: 100%;
  }
  .contact .contact-form {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .feature {
    padding: 1.5em 0;
  }
  .feature h1 {
    margin: -1.2em 0 1em 0.7em;
    padding: 0 0 0 10px;
    background-color: #181818;
    width: 270px;
  }
  .feature .feature-line .feature-container ul {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    grid-gap: 3% 0;
  }
  .feature .feature-line .feature-container ul li {
    height: 251px;
    width: 200px;
  }
  .feature .feature-line .feature-container ul .speedtyper {
    background-image: url("../images/speedtyper_small.png");
  }
  .feature .feature-line .feature-container ul .portfolio {
    background-image: url("../images/portfolio_small.png");
  }
  .feature .feature-line .feature-container ul .checker {
    background-image: url("../images/checker_small.png");
  }
  footer {
    height: 100px;
  }
  footer .footer-link p {
    display: unset;
    margin: 20px 0;
  }
  .background .background-image img {
    width: 250px;
  }
}

@media only screen and (min-width: 1000px) {
  .about {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    text-align: left;
    margin: 3em 0;
  }
  .about .about-image {
    display: -ms-grid;
    display: grid;
    place-content: center;
  }
  .about .about-image img {
    margin: 0;
  }
  .info {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 60% auto;
        grid-template-columns: 60% auto;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    grid-gap: 10px;
    margin-top: 6em;
  }
  .tech {
    margin: 3em 0;
  }
  .offer-container ul li {
    -ms-grid-column-align: center;
        justify-self: center;
    max-width: 350px;
    padding: 2em;
  }
  .offer-container ul li .offer-title {
    font-size: 24px;
  }
  .process-container ul li {
    -ms-grid-column-align: center;
        justify-self: center;
    max-width: 350px;
    padding: 2em;
  }
  .process-container ul li .process-title {
    font-size: 24px;
  }
  .goal {
    margin: 6em 0;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
  .goal .goal-outter {
    width: 100%;
    height: 100%;
    padding: 0 0 0 1em;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .current-work {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 5em;
  }
  .current-work .current-work-image {
    width: 40%;
  }
  .current-work .current-work-text {
    width: 60%;
    padding: 0 0 0 2em;
  }
  .feature {
    padding: 1.5em 0;
  }
  .feature h1 {
    margin: -1.2em 0 1em 0.7em;
    padding: 0 0 0 10px;
    background-color: #181818;
    width: 270px;
  }
  .feature .feature-line .feature-container ul {
    grid-gap: 2% 0;
  }
  .feature .feature-line .feature-container ul li {
    height: 350px;
    width: 279px;
    margin-bottom: 2em;
  }
  .feature .feature-line .feature-container ul .speedtyper {
    background-image: url("../images/speedtyper.png");
  }
  .feature .feature-line .feature-container ul .portfolio {
    background-image: url("../images/portfolio.png");
  }
  .feature .feature-line .feature-container ul .checker {
    background-image: url("../images/checker.png");
  }
  .showcase .showcase-container ul {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;
    justify-items: center;
  }
  .showcase .showcase-container ul li {
    height: 251px;
    width: 200px;
  }
  .showcase .showcase-container ul li .showcase-outer .showcase-inner {
    height: auto;
  }
  .showcase .showcase-container ul li .showcase-outer .showcase-inner .showcase-title {
    font-size: 20px;
    margin: 0;
  }
  .showcase .showcase-container ul li .showcase-outer .showcase-inner .showcase-desc {
    font-size: 13px;
  }
  .showcase .showcase-container ul .showcase-speedtyper {
    background-image: url("../images/speedtyper_small.png");
  }
  .showcase .showcase-container ul .showcase-portfolio {
    background-image: url("../images/portfolio_small.png");
  }
  .showcase .showcase-container ul .showcase-checker {
    background-image: url("../images/checker_small.png");
  }
  footer {
    background-color: black;
    height: 100px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 2em;
  }
  footer .footer-link {
    text-align: left;
  }
  footer .footer-link a {
    font-size: 32px;
    margin: 0 0 10px 0;
  }
  footer .footer-icon {
    display: unset;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    padding: 0 1em;
  }
  footer .footer-icon svg {
    width: 40px;
    -webkit-filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
            filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
  }
  footer .footer-icon a:hover svg {
    -webkit-filter: invert(67%) sepia(55%) saturate(6139%) hue-rotate(192deg) brightness(102%) contrast(105%);
            filter: invert(67%) sepia(55%) saturate(6139%) hue-rotate(192deg) brightness(102%) contrast(105%);
  }
  .background {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 300px auto;
        grid-template-rows: 300px auto;
        grid-template-areas: "img img" "main edu";
    grid-gap: 10px;
  }
  .background .background-image {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: img;
  }
  .background .background-main {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: main;
  }
  .background .background-education {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: edu;
  }
}

@media only screen and (min-width: 1200px) {
  .tech div {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
  .info {
    grid-gap: 20px;
  }
  .offer {
    margin: 5em 0;
  }
  .offer-container ul {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
  .offer-container ul li {
    max-width: 300px;
    padding: 1em;
  }
  .offer-container ul li .offer-title {
    font-size: 22px;
  }
  .process-container ul {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
  .process-container ul li {
    max-width: 300px;
    padding: 1em;
  }
  .process-container ul li .process-title {
    font-size: 22px;
  }
  .feature {
    margin: 6em 0;
  }
}

@media only screen and (min-width: 1400px) {
  section .section div {
    font-size: 1.1em;
  }
  .about {
    margin: 3em 0;
  }
  .about .about-text h1 {
    font-size: 50px;
    margin: 14px 0;
  }
  .about .about-text .about-inspired {
    font-size: 1.2em;
  }
  .about .about-image img {
    width: 250px;
  }
  .tech h1 {
    margin-bottom: 2em;
  }
  .tech div {
    -ms-grid-columns: (1fr)[5];
        grid-template-columns: repeat(5, 1fr);
  }
  .offer-container ul {
    grid-gap: 3%;
  }
  .process-container ul {
    grid-gap: 3%;
  }
  .info {
    -ms-grid-columns: 55% auto;
        grid-template-columns: 55% auto;
    grid-gap: 20px;
  }
  .current-work .current-work-text ul li {
    margin-left: 2.2em;
  }
  .showcase .showcase-container ul li {
    height: 350px;
    width: 279px;
  }
  .showcase .showcase-container ul li .showcase-outer .showcase-inner .showcase-title {
    font-size: 24px;
  }
  .showcase .showcase-container ul li .showcase-outer .showcase-inner .showcase-desc {
    font-size: 15px;
  }
  .showcase .showcase-container ul .showcase-speedtyper {
    background-image: url("../images/speedtyper.png");
  }
  .showcase .showcase-container ul .showcase-portfolio {
    background-image: url("../images/portfolio.png");
  }
  .showcase .showcase-container ul .showcase-checker {
    background-image: url("../images/checker.png");
  }
  .detail .detail-heading {
    margin-bottom: 2em;
  }
  .detail .detail-heading h1 {
    font-size: 44px;
  }
  .detail .detail-heading a {
    font-size: 30px;
  }
  .detail .detail-heading span {
    font-size: 30px;
    width: 10px;
  }
  .detail .detail-body {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 5px 1fr;
        grid-template-columns: 1fr 5px 1fr;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    text-align: left;
    font-size: 0.9em;
    line-height: 1.5em;
        grid-template-areas: "image separate info";
  }
  .detail .detail-body .detail-image {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: image;
    margin-right: 2em;
  }
  .detail .detail-body .detail-separate {
    display: unset;
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: separate;
    background-color: black;
  }
  .detail .detail-body .detail-info {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    grid-area: info;
    margin-left: 2em;
  }
  .feature {
    padding: 1em 0 0 0;
  }
  .feature h1 {
    margin: -1em 0 1em 1em;
    padding: 0 0 0 10px;
    background-color: #181818;
    width: 270px;
  }
  .feature .feature-line .feature-container ul {
    grid-gap: 2% 0;
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
  .feature .feature-line .feature-container ul li {
    height: 251px;
    width: 200px;
    margin-bottom: 2em;
  }
  .feature .feature-line .feature-container ul .speedtyper {
    background-image: url("../images/speedtyper_small.png");
  }
  .feature .feature-line .feature-container ul .portfolio {
    background-image: url("../images/portfolio_small.png");
  }
  .feature .feature-line .feature-container ul .checker {
    background-image: url("../images/checker_small.png");
  }
  footer .footer-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .footer-link br {
    display: none;
  }
  footer .footer-link a {
    margin: 0 1em;
  }
  .background {
    -ms-grid-rows: 400px auto;
        grid-template-rows: 400px auto;
    grid-gap: 30px;
  }
  .background .background-image img {
    width: 350px;
  }
}

@media only screen and (min-width: 1600px) {
  .about .about-image img {
    margin-left: 3em;
  }
  .offer-container ul li {
    max-width: 350px;
    padding: 2em;
  }
  .offer-container ul li .offer-title {
    font-size: 24px;
  }
  .process-container ul li {
    max-width: 350px;
    padding: 2em;
  }
  .process-container ul li .process-title {
    font-size: 24px;
  }
  .current-work .current-work-text ul li {
    margin-left: 3em;
  }
  .background {
    grid-gap: 50px;
  }
}

@media only screen and (min-width: 1800px) {
  .about {
    margin: 5em 0;
  }
  .about .about-image img {
    width: 300px;
  }
  .who {
    padding: 4em 11em 6em 10em;
  }
  .current-work .current-work-text ul li {
    margin-left: 4em;
  }
  .background {
    grid-gap: 70px;
  }
  .offer-container ul {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
  }
  .offer-container ul li {
    max-width: 300px;
    padding: 1em;
  }
  .offer-container ul li .offer-title {
    font-size: 22px;
  }
  .process-container ul {
    grid-gap: 5.5%;
  }
}
/*# sourceMappingURL=main.css.map */