@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {box-sizing: border-box;}
body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    font-family: 'Roboto', arial;
    background-color: black;
    color: white;
    scroll-behavior: smooth;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background: linear-gradient(to top, #198cff, #0048ff);
    border-radius: 100vw;
}
::-webkit-scrollbar:hover {
    width: 10px;
}
a {
    color: white;
    text-decoration: none;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
button {
    background-color: white;
}
p {
    margin: 0;
    padding: 0;
}
img {
    width: 100%;
}
.about-style {
    display: none;
}
.helmet {
    img {
        width: 30px;
        height: 30px;
        margin-top: 3px;
    }
}
header {
    user-select: none;
    width: 100%;
    height: 4em;
    background-color: black;
    display: flex;
    justify-content: center;
    align-content: center;
    overflow: hidden;
    position: fixed;
    top: 0;
    z-index: 10;
    .header {
        width: 100%;
        max-width: 1200px;
        padding: 0 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .header-icon a {
            font-weight: bold;
            font-size: 1.4em;
            img {
                width: 23px;
            }
        }
        .header-nav {
            width: 40%;
            transition: width 500ms ease;
            min-width: 120px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .header-link {
                font-weight: 600;
                letter-spacing: 1px;
                font-size: 14px;
                line-height: 34px;
                position: relative;
                color: rgb(210, 210, 210);
            }
            .header-link:hover {
                color: white;
                transition: color 300ms ease;
            }
            #contact-btn {
                display: none;
            }
        }
    }
}
.icon-arrow {
	margin: 0 5px -4px 5px;
}
.animate-down .arrow {
	animation: arrow-down 3s 1s infinite;
}
@keyframes arrow-down {
	0% {
		transform: translateY(0);
	}
	40%,
	100% {
		transform: translateY(200%);
	}
}
section {
    width: 100%;
    margin: 80px auto 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    .section {
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-content: center;
        width: 95%;
        max-width: 1200px;
        div {
            justify-self: center;
            font-size: 1em;
            line-height: 1.8em;
            h1 {
                font-size: 28px;
            }
        }
    }
}
.policy, .term {
    padding: 1em;
}
.about {
    display: flex;
    flex-flow: column-reverse;
    padding: 1em;
    .about-text h1 {
        font-size: 34px;
    }
    .about-image-container {
        width: 100%;
        height: 100%;
        display: grid;
        place-content: center;
    }
    .about-image {
        width: 270px;
        height: 270px;
        margin: 0 auto;
        text-align: center;
        background: url('../images/profile_camp.jpg') no-repeat;
        background-size: contain;
        animation: move 20s ease-in-out infinite;
    }
    @keyframes move {
        0% { clip-path: ellipse(45% 50% at 50% 50%); }
        15% { clip-path: ellipse(47% 46% at 50% 56%);  }
        30% { clip-path: ellipse(38% 42% at 55% 50%); }
        45% { clip-path: ellipse(40% 45% at 50% 45%); }
        60% { clip-path: ellipse(42% 40% at 48% 50%); }
        75% { clip-path: ellipse(40% 40% at 50% 45%); }
        100% { clip-path: ellipse(45% 50% at 50% 50%); }
    }
    h2 {
        font-size: 16px;
        font-weight: 600;
        color: rgb(220, 219, 219);
        margin: 0;
    }
    h1 {
        margin: 0;
    }
    div {
        margin: 20px 0 0 0;
        p {
            color: rgb(206, 206, 206);
        }
    }
    .about-action {
        font-size: 14px;
        font-weight: 600;
        margin-top: 20px;
        color: #1a94ff;
    }
}
.tech {
    padding: 1em;
    .tech-cat {
        user-select: none;
        h4 {
            font-weight: 900;
            font-size: 22px;
            color: #dfdfdf;
            line-height: 20px;
            margin: 0 0 3px 3px;
            background: black;
            z-index: 1;
            display: inline-block;
        }
        hr {
            border: 1px solid #dfdfdf;
            margin: 0 0 30px 0;
            z-index: 0;
            display: inline-block;
            width: 100%;
        }
        .tech-spacer {
            margin: 25px 0;
        }
        div {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 1em;
            p {
                user-select: none;
                display: flex;
                align-items: center;
                font-size: 18px;
                font-weight: 600;
                color: #a9a9a9;
                svg {
                    width: 35px;
                    height: 35px;
                    justify-self: left;
                }
                img {
                    width: 35px;
                    justify-self: left;
                }
            }
        }
    }
}
.info {
    padding: 1em;
    margin-top: 2em;

    p {
        color: rgb(220, 220, 220);
        margin: 15px 0;
    }
    .info-main {
        justify-self: flex-start;
        max-width: 550px;
    }
    .info-education {
        justify-self: flex-start;
        max-width: 430px;
        span {
            font-size: 22px;
            font-weight: 600;
            color: white;
        }
    }
}
.offer {
    padding: 1em;
}
.offer-container {
    ul {
        li {
            padding: 2em 2em;
            margin: 1em 0;
            max-width: 400px;
            .icon-container {
                height: 70px;
                display: grid;
                grid-template-columns: auto 70px;
                grid-template-rows: 1fr;
                margin: 0 0 20px 0;
            }
            .offer-title {
                align-self: center;
                font-weight: bold;
                font-size: 24px;
            }
        }
        .offer-li {
            border: 1px solid #383838;
            border-radius: 10px;
        }
    }
}
.process {
    padding: 1em;
}
.process-container {
    ul {
        li {
            padding: 2em 2em;
            margin: 1em 0;
            max-width: 400px;
            .icon-container {
                height: 70px;
                display: grid;
                grid-template-columns: auto 70px;
                grid-template-rows: 1fr;
                margin: 0 0 20px 0;
            }
            .process-title {
                align-self: center;
                font-weight: bold;
                font-size: 24px;
            }
        }
        .process-li {
            border: 1px solid #383838;
            border-radius: 10px;
        }
    }
}
.goal {
    padding: 1em;
    div {
    padding: 1em 1em;
        p {
            margin: 1em -1em;
            font-size: 18px;
            font-weight: 600;
        }
        ul li {
            text-align: left;
            list-style-type: '-  ';
            font-size: 16px;
        }
    }
}
.current-work-image {
    img {
        width: 150px;
        border-radius: 50%;
    }
}
.current-work-text ul li {
    text-align: left;
    margin: 1em 0;
    color: rgb(172, 172, 172);
    span {
        font-size: 20px;
        color: white;
    }
}
.feature-box {
    user-select: none;
    margin: 1em 2em;
    padding: 2px;
    border-radius: 10px;
    animation: rotate 6s infinite linear;
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,rgb(0, 51, 255)), color-stop(25%,rgb(0, 123, 255)), color-stop(50%,rgb(0, 132, 255)), color-stop(75%,rgb(0, 123, 255)), color-stop(100%,rgb(0, 60, 255)));
}
@keyframes rotate {
    from {
        background-position: -3000px;
    }
    to { 
        background-position: 0px;
    }
}
.feature {
    padding: 1em;
    border-radius: 10px;
    background-color: black;
    h1 {
        margin: -1.1em 0 1em 0.5em;
        padding: 0 0 0 10px;
        background-color: black;
        width: 230px;
        span {
            background-image: -webkit-linear-gradient(0deg, #003cff, #0066ff);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            animation: hue 20s infinite linear;
        }
    }
    @keyframes hue {
        from {
            background-position: -3000px;
        }
        to {
            background-position: 0px;
        }
    }
    .feature-container {
        padding: 0 10px 20px 10px;
        ul {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
            justify-content: space-evenly;
            justify-items: flex-start;
            align-items: center;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            li {
                padding: 0;
                margin: 0 0 1em 0;
                height: 251px;
                width: 200px;
                border-radius: 10px;
                .feature-outer {
                    display: flex;
                    height: 100%;
                    width: 100%;
                    background-color:rgba(0, 0, 0, 0.179);
                    border-radius: 9px;
                    .feature-inner {
                        align-self: flex-end;
                        flex-direction: column;
                        height: auto;
                        width: 100%;
                        text-align: center;
                        line-height: 25px;
                        background-color: rgba(0, 0, 0, 0.816);
                        border-bottom-left-radius: 9px;
                        border-bottom-right-radius: 9px;
                        .feature-title {
                            font-size: 20px;
                            margin: 5px 0 5px 0;
                        }
                        .feature-desc {
                            display: none;
                            font-size: 13px;
                            line-height: 15px;
                        }
                    }
                }
                a:hover {
                    color: white;
                    .feature-outer {
                        .feature-desc {
                            display: unset;
                            font-size: 13px;
                            line-height: 15px;
                        }
                    }
                }
            }
            .smore {
                background: url('../images/smore.png') no-repeat center center;
            }
            .speedtyper {
                background: url('../images/speedtyper.png') no-repeat center center;
            }
            .portfolio {
                background: url('../images/portfolio.png') no-repeat center center;
            }
            .checker {
                background: url('../images/checker.png') no-repeat center center;
            }
            .exhibit {
                background: url('../images/exhibit.png') no-repeat center center;
            }
            .wander-wallet {
                background: url('../images/wander_wallet.png') no-repeat center center;
            }
        }
    }
}
.contact {
    padding: 1em;
    margin: 0 0 2em 0;
    display: grid;
    grid-template-columns: 1fr;
    .contact-text {
        width: 100%;
        text-align: left;
        p {
            margin: 10px 0;
            svg {
                margin: 0 5px -5px 0;
            }
        } 
        a {
            color: #0088ff;
            svg {
                margin: 0 0 -5px 0;
                filter: invert(67%) sepia(55%) saturate(6139%) hue-rotate(192deg) brightness(102%) contrast(105%);
            }
        }
        a:hover {
            text-decoration: underline;
        }
        .contact-media {
            height: 25px;
            width: 150px;
            display: flex;
            margin: 20px 0;
            justify-content: space-between;
            .contact-media-each {
                a svg, img {
                    width: 25px;
                    margin: 0;
                }
                a {
                    color: #0088ff;
                }
                svg {
                    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
                }
                a:hover {
                    svg {
                        filter: invert(35%) sepia(45%) saturate(2938%) hue-rotate(193deg) brightness(102%) contrast(109%);
                    }
                    text-decoration: underline;
                }
                a img {
                    width: 25px;
                    height: 25px;
                    margin: 0;
                }
            }
        }
    }
    @mixin clearfix {
        &:after {
            content: "";
            display: table;
            clear: both;
        }
    }
    .row {
        @include clearfix;
        margin: -20px 0;
        .col {
            padding: 0 10px;
            float: left;
            box-sizing: border-box;
            &.x-50 {
                width: 50%;
            }
            &.x-100 {
                width: 100%;
            }
        }
    }
    .get-in-touch {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        h1 {
            padding: 0 10px;
            margin-bottom: 40px;
        }
    }
    .contact-form {
        width: 100%;
        .form-field {
            position: relative;
            margin: 20px 0;
            background-color: transparent;
            .mess2 {
                display: none;
                height: 1px;
                width: 1px;
                font-size: 1px;
                line-height: 0;
                user-select: none;
            }
        }
        .input-text {
            background-color: transparent;
            color: white;
            display: block;
            width: 100%;
            height: 36px;
            border-width: 0 0 2px 0;
            border-color: #ffffff;
            font-size: 18px;
            line-height: 26px;
            letter-spacing: 0.5px;
            font-weight: 400;
            &:focus {
                outline: none;
            }
            &:focus, &.not-empty {
                + .label {
                    transform: translateY(-24px);
                    color: #0088ff;
                }
                background-color: transparent;
                border-color: #0088ff;
            }
        }
        textarea {
            max-width: 100%;
            color: white;
            font-family: 'Roboto', arial;
            resize: none;
            outline: none;
            font-size: 18px;
            line-height: 26px;
            letter-spacing: 0.5px;
            font-weight: bold;
        }
        .label {
            position: absolute;
            left: 10px;
            bottom: 11px;
            font-size: 18px;
            line-height: 26px;
            font-weight: 600;
            color: rgb(209, 209, 209);
            cursor: text;
            transition: transform .2s ease-in-out;
            user-select: none;
        }
        
        .submit-btn {
            display: inline-block;
            background-color: #0088ff;
            color: white;
            font-weight: 600;
            letter-spacing: 1px;
            font-size: 20px;
            line-height: 24px;
            padding: 6px 14px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            text-transform: uppercase;
        }
        .submit-btn:hover {
            background-color: #0088ff;
            transition: background 300ms ease;
            color: black;
        }
    }
}
footer {
    position: relative;
    background-color: black;
    text-align: center;
    height: 70px;
    .footer-link {
        a {
            font-size: 20px;
            font-weight: bold;
            margin: 10px 0;
        }
        p {
            display: none;
        }
        a:hover {
            color: #0088ff;
        }
    }
    .footer-term {
        margin: 10px;
        a:hover {
            color: #0088ff;
        }
    }
    .footer-icon {
        display: none;
    }
}
.showcase {
    padding: 1em;
    text-align: center;
    h1 {
        margin-top: 0;
        font-size: 40px;
    }
    .showcase-container ul {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        justify-content: space-around;
        align-items: center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        user-select: none;
        li {
            padding: 0;
            margin: 2.5em 1em;
            height: 251px;
            width: 200px;
            border-radius: 16px;
            background: cover;
            .showcase-outer {
                display: flex;
                height: 100%;
                width: 100%;
                background-color:rgba(0, 0, 0, 0.179);
                border-radius: 15px;
                .showcase-inner {
                    align-self: flex-end;
                    flex-direction: column;
                    max-height: 130px;
                    width: 100%;
                    text-align: center;
                    line-height: 25px;
                    background-color: rgba(0, 0, 0, 0.816);
                    border-bottom-left-radius: 15px;
                    border-bottom-right-radius: 15px;
                    .showcase-title {
                        font-size: 20px;
                        margin: 5px 0 5px 0;
                    }
                    .showcase-desc {
                        display: none;
                        font-size: 13px;
                        line-height: 15px;
                    }
                }
            }
            a:hover {
                color: white;
                .showcase-outer:hover {
                    .showcase-desc {
                        display: unset;
                        font-size: 13px;
                        line-height: 15px;
                    }
                }
            }
        }
        .showcase-none {
            background: url('../images/showcase-none.png') no-repeat center center;
        }
        .showcase-exhibit {
            background: url('../images/exhibit.png') no-repeat center center;
        }
        .showcase-smore {
            background: url('../images/smore.png') no-repeat center center;
        }
        .showcase-speedtyper {
            background: url('../images/speedtyper.png') no-repeat center center;
        }
        .showcase-portfolio {
            background: url('../images/portfolio.png') no-repeat center center;
        }
        .showcase-checker {
            background: url('../images/checker.png') no-repeat center center;
        }
        .showcase-wander-wallet {
            background: url('../images/wander_wallet.png') no-repeat center center;
        }
    }
}
.detail {
    padding: 1em;
    display: flex;
    flex-direction: column;
    .detail-heading {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        .detail-heading-img {
            display: grid;
            place-content: center;
            width: 100%;
            img {
                width: 350px;
                margin: -50px 0 20px 0;
            }
        }
        h1 {
            font-size: 30px;
            margin-top: 0;
        }
        a {
            font-size: 26px;
            color: #0088ff;
        }
        a:hover {
            text-decoration: underline;
        }
        span {
            font-size: 26px;
            width: 10px;
            color: #0088ff;
        }
        margin-bottom: 2em;
    }
    .detail-body {
        text-align: left;
        font-size: 0.9em;
        line-height: 1.5em;
        p { font-size: 16px; color: white; }
        h1 { font-size: 28px; }
        .detail-image-each {
            p {
                margin: 0 40px 5px 40px;
            }
            img {
                margin: 0 20px 10px 20px;
                max-width: 700px;
            }
        }
        .detail-tech {
            margin: 0;
            padding: 0;
            div {
                display: grid;
                grid-template-columns: 1fr 1fr;
                p {
                    display: flex;
                    align-items: center;
                    color: white;
                    margin: 10px 10px;
                }
                p svg {
                    width: 30px;
                    height: 30px;
                }
                p img {
                    width: 30px;
                }
            }
        }
        ul {
            list-style-type: disc;
            li {
                margin-left: 18px;
                font-size: 16px;
                a {
                    color: #0088ff;
                }
                a:hover {
                    text-decoration: underline;
                }
            }
        }
        ol {
            padding: 0;
            li {
                margin-left: 18px;
                h1 { font-size: 18px; }
            }
        }
        .checker-instruction {
            h1 {
                margin: 0;
                font-weight: 600;
                color: rgb(226, 226, 226);
            }
        }
    }
}
.smore-review-image {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    flex-direction: row;
    img {
        width: 180px;
    }
}
.background {
    text-align: left;
    .background-image {
        width: 100%;
        text-align: center;
        img {
            width: 150px;
            border-radius: 50%;
            margin: 1em;
        }
    }
    .background-education {
        h3 { margin-bottom: 0; }
        p { color: rgb(172, 172, 172); }
    }
}


@media only screen and (min-width: 550px) {
    header {
        .header {
            width: 80%;
            padding: 0;
            .header-icon a {
                font-size: 1.8em;
            }
            .header-nav {
                transition: width 500ms ease;
                .header-link {
                    font-size: 20px;
                    line-height: 24px;
                }
            }
        }
    }
    section {
        .section {
            width: 80%;
        }
    }
    .about {
        padding: 0;
    }
    .tech {
        padding: 2em 0 0 0;
        margin: 2em 0;
    }
    .info {
        padding: 0;
        margin-top: 4em;
    }
    .offer {
        padding: 0;
        margin: 2em 0;
    }
    .offer-container {
        ul {
            li {
                margin: 2em 0;
                .offer-title {
                    font-size: 28px;
                }
            }
        }
    }
    .process {
        padding: 0;
    }
    .goal {
        padding: 0;
        margin: 2em 0;
    }.feature-box {
        margin: 2em 0;
    }
    .feature {
        padding: 2em 0;
        h1 {
            margin: -1.8em 0 1em 1em;
        }
    }
    .contact {
        padding: 0;
    }
    .policy, .term {
        padding: 3em 0;
        width: 70%;
        max-width: 1200px;
    }
    .detail {
        padding: 0;
        margin: 2em auto;
    }
    .showcase {
        margin: 2em 0 0 0;
        padding: 0;
    }
}

@media only screen and (min-width: 700px) {
    .offer {
        margin: 4em 0;
    }
    .offer-container {
        ul {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr;
            grid-gap: 10px;
            li {
                justify-self: center;
                max-width: 300px;
                margin: 1em 0;
                padding: 1em;
                .offer-title {
                    font-size: 22px;
                }
            }
        }
    }
    .tech {
        .tech-cat {
            div {
                grid-template-columns: repeat(3, 1fr);
            }
        }
    }
    .process-container {
        ul {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr;
            grid-gap: 10px;
            li {
                justify-self: center;
                max-width: 300px;
                margin: 1em 0;
                padding: 1em;
                .process-title {
                    font-size: 22px;
                }
            }
        }
    }
    .feature-box {
        margin: 4em 0;
    }
    .detail { .detail-body {
        .detail-tech {
            div {
                grid-template-columns: 1fr 1fr 1fr;
            }
        }
    } }
}

@media only screen and (min-width: 750px) {
    header {
        .header {
            .header-nav {
                width:  50%;
                transition: none;
                a {
                    font-size: 1.2em;
                    padding: 0.4em 1.2em;
                }
                #contact-btn {
                    display: unset;
                }
            }
        }
    }
    section {
        margin: 100px auto 0 auto;
    }
    .about {
        .about-image {
            img {
                width: 200px;
            }
        }
    }
    .tech {
        h1 {
            margin-bottom: 1.5em;
        }

    }
    .current-work-image {
        img {
            width: 250px;
        }
    }
    .contact {
        display: grid;
        grid-template-columns: 50% 50%;
        .contact-text {
            width: 100%;
        }
        .contact-form {
            width: 100%;
        }
    }
    .feature {
        padding: 1.5em 0;
        h1 {
            margin: -1.2em 0 1em 0.7em;
            padding: 0 0 0 10px;
            background-color: black;
            width: 270px;
        }
    }
    footer {
        height: 100px;
        user-select: none;
        .footer-link {
            p {
                display: unset;
                margin: 20px 0;
            }
        }
    }
    .background {
        .background-image {
            img {
                width: 250px;
            }
        }
    }
}

@media only screen and (min-width: 850px) {
    header {
        .header {
            .header-nav {
                width: 360px;
                transition: width 500ms ease;
            }
        }
    }
}

@media only screen and (min-width: 1000px) {
    header {
        .header {
            .header-nav {
                width:  400px;
            }
        }
    }
    .about {
        flex-direction: row;
        text-align: left;
        margin: 3em 0;
        .about-image {
            display: grid;
            place-content: center;
            img {
                margin: 0;
            }
        }
    }
    .info {
        display: grid;
        grid-template-columns: 60% auto;
        grid-template-rows: 1fr;
        grid-gap: 10px;
        margin-top: 6em;
        
    }
    .tech {
        margin: 3em 0;
        .tech-cat {
            div {
                grid-template-columns: repeat(4, 1fr);
            }
        }
    }
    .offer-container {
        ul {
            li {
                justify-self: center;
                max-width: 350px;
                padding: 2em;
                .offer-title {
                    font-size: 24px;
                }
            }
        }
    }
    .process-container {
        ul {
            li {
                justify-self: center;
                max-width: 350px;
                padding: 2em;
                .process-title {
                    font-size: 24px;
                }
            }
        }
    }
    .goal {
        margin: 6em 0 2em 0;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        .goal-outter {
            width: 100%;
            height: 100%;
            padding: 0 0 0 1em;
            margin: 0;
            display: flex;
            justify-content: flex-start;
        }
    }
    .current-work {
        display: flex;
        padding: 5em;
        .current-work-image {
            width: 40%;
        }
        .current-work-text {
            width: 60%;
            padding: 0 0 0 2em;
        }
    }
    .feature {
        padding: 1.5em 0;
        h1 {
            padding: 0 0 0 10px;
            width: 270px;
        }
    }
    .showcase {
        margin: 5em 0 7em 0;
    }
    footer {
        background-color: black;
        height: 100px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: center;
        align-items: center;
        padding: 2em;
        .footer-link  {
            text-align: left;
            a {
                font-size: 32px;
                margin: 0 0 10px 0;
            }
        }
        .footer-icon {
            display: unset;
            display: flex;
            justify-content: space-evenly;
            padding: 0 1em;
            svg {
                width: 40px;
                filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
            }
            a:hover {
                svg {
                    filter: invert(35%) sepia(45%) saturate(2938%) hue-rotate(193deg) brightness(102%) contrast(109%);
                }
            }
        }
    }
    .background {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 300px auto;
        grid-template-areas: "img img"
        "main edu";
        grid-gap: 10px;
        .background-image {
            grid-area: img;
        }
        .background-main {
            grid-area: main;
        }
        .background-education {
            grid-area: edu;
        }
    }
    .detail {
        margin-top: 4em;
    }
}

@media only screen and (min-width: 1200px) {
    section {
        .section {
            div {
                font-size: 1.1em;
            }
        }
    }
    .tech {
        .tech-cat {
            div {
                grid-template-columns: repeat(5, 1fr);
            }
        }
    }
    .about {
        margin: 3em 0;
        .about-text {
            h1 {
                font-size: 50px;
                margin: 14px 0;
            }
        }
        .about-image {
            img {
                width: 250px;
            }
        }
    }
    .info {
        grid-gap: 20px;
    }
    .offer {
        margin: 5em 0;
    }
    .offer-container {
        ul {
            grid-template-columns: 1fr 1fr 1fr;
            li {
                max-width: 300px;
                padding: 1em;
                .offer-title {
                    font-size: 22px;
                }
            }
        }
    }
    .process-container {
        ul {
            grid-template-columns: 1fr 1fr 1fr;
            li {
                max-width: 300px;
                padding: 1em;
                .process-title {
                    font-size: 22px;
                }
            }
        }
    }
    .feature {
        padding: 1em 0 0 0;
        h1 {
            margin: -0.9em 0 1em 1em;
            padding: 0 0 0 10px;
            width: 270px;
        }
    }
    .detail {
        margin-top: 5em;
        .detail-heading {
            h1 {
                font-size: 40px;
            }
        }
        .detail-body {
            text-align: left;
            font-size: 0.9em;
            line-height: 1.5em;
        }
    }
    .goal {
        grid-template-columns: 36% 40% 25%;
    }
}

@media only screen and (min-width: 1400px) {
    .tech {
        h1 {
            margin-bottom: 2em;
        }
    }
    .offer-container {
        ul {
            grid-gap: 3%;
        }
    }
    .process-container {
        ul {
            grid-gap: 3%;
        }
    }
    .info {
        grid-template-columns: 55% auto;
        grid-gap: 20px;
    }
    .current-work .current-work-text ul li {
        margin-left: 2.2em;
    }
    .feature {
        h1 {
            margin: -1.1em 0 1em 1em;
        }
    }
    footer {
        .footer-link  {
            display: flex;
            align-items: center;
            br {display: none;}
            a {margin: 0 1em;}
        }
    }
    .background {
        grid-template-rows: 400px auto;
        grid-gap: 30px;
        .background-image img {
            width: 350px;
        }
    }
}

@media only screen and (min-width: 1600px) {
    .about {
        .about-image {
            img {
                margin-left: 3em;
            }
        }
    }
    .offer-container {
        ul {
            margin: 0 -1em;
            grid-template-columns: repeat(4, 1fr);
            grid-gap: 10px;
            li {
                padding: 0.8em;
                .offer-title {
                    font-size: 22px;
                }
            }
        }
    }
    .process-container {
        ul {
            li {
                max-width: 350px;
                padding: 2em;
                .process-title {
                    font-size: 24px;
                }
            }
        }
    }
    .current-work .current-work-text ul li {
        margin-left: 3em;
    }
    .background {
        grid-gap: 50px;
    }
}

@media only screen and (min-width: 1800px) {
    .about {
        margin: 5em 0;
        .about-image {
            img {
                width: 300px;
            }
        }
    }
    .who {
        padding: 4em 11em 6em 10em;
    }
    .current-work .current-work-text ul li {
        margin-left: 4em;
    }
    .background {
        grid-gap: 70px;
    }
    .process-container {
        ul {
            grid-gap: 5.5%;
        }
    }
}
