<%- include('../partials/header') %>
<style>
    .header-project {
        color: white !important;
    }
</style>
    <section>
        <div class="section">
            <div class="showcase">
                <h1>All my projects</h1>
                <div class="showcase-container">
                    <ul>
                        <li class="showcase-exhibit">
                            <a href="/project/the-exhibit">
                                <div class="showcase-outer">
                                    <div class="showcase-inner">
                                        <p class="showcase-title">THE EXHIBIT</p>
                                        <p class="showcase-desc">A great app where everyone can share their projects, get sociallize and learn from the community</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="showcase-smore">
                            <a href="/project/smore-recipes">
                                <div class="showcase-outer">
                                    <div class="showcase-inner">
                                        <p class="showcase-title">S'more Recipes</p>
                                        <p class="showcase-desc">A one-stop-shop camping trip planing app for people love camping that want to plan ahead</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="showcase-speedtyper">
                            <a href="/project/speedtyper">
                                <div class="showcase-outer">
                                    <div class="showcase-inner">
                                        <p class="showcase-title">SpeedTyper</p>
                                        <p class="showcase-desc">A touch typing practicing website where user can practice their typing.</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="showcase-portfolio">
                            <a href="/project/portfolio">
                                <div class="showcase-outer">
                                    <div class="showcase-inner">
                                        <p class="showcase-title">This website</p>
                                        <p class="showcase-desc">This portfolio website was build using Nodejs, Express, JavaScript, HTML, CSS, etc.</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="showcase-checker">
                            <a href="/project/checker">
                                <div class="showcase-outer">
                                    <div class="showcase-inner">
                                        <p class="showcase-title">Checker game</p>
                                        <p class="showcase-desc">A simple and fun one-page web <br>game of checkers for 2 players.<br>No AI was implemented.</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="">
                            <a href="#">
                                <div class="showcase-outer">
                                    <div class="showcase-inner">
                                        <p class="showcase-title">Coming soon</p>
                                        <p class="showcase-desc">I'll update new project soon.<br>Please wait for it.</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="">
                            <a href="#">
                                <div class="showcase-outer">
                                    <div class="showcase-inner">
                                        <p class="showcase-title">Coming soon</p>
                                        <p class="showcase-desc">I'll update new project soon.<br>Please wait for it.</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            
<%- include('../partials/footer') %>